.smallImg {
    height: 50px;
}

.clothesTray {
    width: 30%;
   
   
}

.clothesTrayImg {
    width: 50px;
    border: 1px solid black;
    
}

.stage{
    display: flex;
    align-items: center;
}