.grey{filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(241deg) brightness(96%) contrast(86%);}
.skin1{
    filter: invert(11%) sepia(32%) saturate(1697%) hue-rotate(355deg) brightness(92%) contrast(100%);
}
.skin2{
    filter: invert(12%) sepia(21%) saturate(2239%) hue-rotate(356deg) brightness(95%) contrast(91%);
}
.skin3{
    filter: invert(16%) sepia(45%) saturate(973%) hue-rotate(350deg) brightness(95%) contrast(101%);
}
.skin4{
    filter: invert(20%) sepia(15%) saturate(3313%) hue-rotate(353deg) brightness(95%) contrast(98%);
}
.skin5{
    filter: invert(13%) sepia(28%) saturate(5601%) hue-rotate(25deg) brightness(95%) contrast(87%);
}
.skin6{
    filter: invert(34%) sepia(29%) saturate(721%) hue-rotate(347deg) brightness(95%) contrast(89%);
}
.skin7{
    filter: invert(56%) sepia(35%) saturate(423%) hue-rotate(348deg) brightness(92%) contrast(85%);
}
.skin8{
    filter: invert(75%) sepia(5%) saturate(2362%) hue-rotate(348deg) brightness(93%) contrast(80%);
}
.skin9{
    filter: invert(80%) sepia(62%) saturate(176%) hue-rotate(338deg) brightness(98%) contrast(80%);
}
.skin10{
    filter: invert(93%) sepia(8%) saturate(1305%) hue-rotate(323deg) brightness(99%) contrast(94%);
}

.lip1{
    filter: invert(7%) sepia(17%) saturate(4378%) hue-rotate(360deg) brightness(92%) contrast(113%);
}
.lip2{
    filter: invert(15%) sepia(14%) saturate(6665%) hue-rotate(328deg) brightness(92%) contrast(122%);
}
.lip3{
    filter: invert(11%) sepia(75%) saturate(4488%) hue-rotate(349deg) brightness(75%) contrast(104%);
}
.lip4{
    filter: invert(10%) sepia(99%) saturate(4839%) hue-rotate(351deg) brightness(95%) contrast(103%);
}
.lip5{
    filter: invert(40%) sepia(79%) saturate(572%) hue-rotate(314deg) brightness(101%) contrast(83%);
}
.lip6{
    filter: invert(67%) sepia(6%) saturate(2980%) hue-rotate(314deg) brightness(97%) contrast(95%);
}
.lip7{
    filter: invert(78%) sepia(5%) saturate(1471%) hue-rotate(314deg) brightness(110%) contrast(97%);
}
.lip8{
    filter: invert(79%) sepia(3%) saturate(1510%) hue-rotate(315deg) brightness(116%) contrast(98%);
}

.color1{filter: invert(19%) sepia(34%) saturate(6973%) hue-rotate(345deg) brightness(39%) contrast(109%);}
.color2{filter: invert(10%) sepia(94%) saturate(5772%) hue-rotate(353deg) brightness(77%) contrast(101%);}
.color3{filter: invert(15%) sepia(78%) saturate(7207%) hue-rotate(352deg) brightness(90%) contrast(101%);}
.color4{filter: invert(65%) sepia(11%) saturate(1722%) hue-rotate(309deg) brightness(99%) contrast(96%);}
.color5{filter: invert(14%) sepia(60%) saturate(858%) hue-rotate(352deg) brightness(95%) contrast(96%);}
.color6{filter: invert(27%) sepia(29%) saturate(1334%) hue-rotate(345deg) brightness(98%) contrast(88%);}
.color7{filter: invert(46%) sepia(10%) saturate(3060%) hue-rotate(343deg) brightness(89%) contrast(82%);}
.color8{filter: invert(97%) sepia(93%) saturate(2426%) hue-rotate(302deg) brightness(92%) contrast(85%);}
.color9{filter: invert(30%) sepia(49%) saturate(1186%) hue-rotate(353deg) brightness(94%) contrast(92%);}
.color10{filter: invert(42%) sepia(90%) saturate(653%) hue-rotate(352deg) brightness(94%) contrast(85%);}
.color11{filter: invert(65%) sepia(26%) saturate(4368%) hue-rotate(343deg) brightness(99%) contrast(96%);}
.color12{filter: invert(61%) sepia(95%) saturate(257%) hue-rotate(346deg) brightness(104%) contrast(96%);}
.color13{filter: invert(37%) sepia(98%) saturate(403%) hue-rotate(1deg) brightness(96%) contrast(89%);}
.color14{filter: invert(82%) sepia(24%) saturate(1705%) hue-rotate(338deg) brightness(85%) contrast(94%);}
.color15{filter: invert(73%) sepia(63%) saturate(515%) hue-rotate(347deg) brightness(96%) contrast(106%);}
.color16{filter: invert(93%) sepia(90%) saturate(606%) hue-rotate(312deg) brightness(106%) contrast(99%);}
.color17{filter: invert(18%) sepia(14%) saturate(5447%) hue-rotate(48deg) brightness(95%) contrast(95%);}
.color18{filter: invert(43%) sepia(14%) saturate(4063%) hue-rotate(44deg) brightness(91%) contrast(81%);}
.color19{filter: invert(86%) sepia(99%) saturate(474%) hue-rotate(20deg) brightness(90%) contrast(89%);}
.color20{filter: invert(92%) sepia(37%) saturate(506%) hue-rotate(20deg) brightness(104%) contrast(96%);}
.color21{filter: invert(33%) sepia(15%) saturate(2656%) hue-rotate(115deg) brightness(87%) contrast(89%);}
.color22{filter: invert(67%) sepia(51%) saturate(7405%) hue-rotate(131deg) brightness(105%) contrast(77%);}
.color23{filter: invert(73%) sepia(91%) saturate(366%) hue-rotate(97deg) brightness(104%) contrast(98%);}
.color24{filter: invert(81%) sepia(73%) saturate(189%) hue-rotate(95deg) brightness(104%) contrast(103%);}
.color25{filter: invert(9%) sepia(60%) saturate(4080%) hue-rotate(302deg) brightness(91%) contrast(106%);}
.color26{filter: invert(18%) sepia(68%) saturate(2960%) hue-rotate(300deg) brightness(78%) contrast(109%);}
.color27{filter: invert(37%) sepia(85%) saturate(5457%) hue-rotate(300deg) brightness(86%) contrast(92%);}
.color28{filter: invert(71%) sepia(15%) saturate(1372%) hue-rotate(278deg) brightness(102%) contrast(98%);}
.color29{filter: invert(10%) sepia(38%) saturate(6227%) hue-rotate(279deg) brightness(93%) contrast(107%);}
.color30{filter: invert(15%) sepia(98%) saturate(3771%) hue-rotate(281deg) brightness(77%) contrast(98%);}
.color31{filter: invert(46%) sepia(86%) saturate(6775%) hue-rotate(273deg) brightness(110%) contrast(96%);}
.color32{filter: invert(64%) sepia(61%) saturate(299%) hue-rotate(240deg) brightness(101%) contrast(98%);}
.color33{filter: invert(12%) sepia(27%) saturate(5022%) hue-rotate(251deg) brightness(105%) contrast(120%);}
.color34{filter: invert(16%) sepia(100%) saturate(4092%) hue-rotate(264deg) brightness(75%) contrast(104%);}
.color35{filter: invert(38%) sepia(44%) saturate(4666%) hue-rotate(248deg) brightness(94%) contrast(110%);}
.color36{filter: invert(78%) sepia(47%) saturate(746%) hue-rotate(199deg) brightness(91%) contrast(117%);}
.color37{filter: invert(7%) sepia(93%) saturate(5111%) hue-rotate(249deg) brightness(85%) contrast(111%);}
.color38{filter: invert(15%) sepia(75%) saturate(5171%) hue-rotate(245deg) brightness(70%) contrast(116%);}
.color39{filter: invert(28%) sepia(96%) saturate(2880%) hue-rotate(239deg) brightness(97%) contrast(100%);}
.color40{filter: invert(79%) sepia(20%) saturate(5902%) hue-rotate(199deg) brightness(105%) contrast(97%);}
.color41{filter: invert(8%) sepia(75%) saturate(3275%) hue-rotate(208deg) brightness(98%) contrast(98%);}
.color42{filter: invert(17%) sepia(37%) saturate(7423%) hue-rotate(213deg) brightness(88%) contrast(92%);}
.color43{filter: invert(34%) sepia(68%) saturate(3622%) hue-rotate(207deg) brightness(98%) contrast(93%);}
.color44{filter: invert(77%) sepia(5%) saturate(3356%) hue-rotate(185deg) brightness(99%) contrast(98%);}
.color45{filter: invert(20%) sepia(10%) saturate(4251%) hue-rotate(136deg) brightness(98%) contrast(96%);}
.color46{filter: invert(43%) sepia(75%) saturate(455%) hue-rotate(135deg) brightness(97%) contrast(94%);}
.color47{filter: invert(87%) sepia(24%) saturate(6498%) hue-rotate(144deg) brightness(106%) contrast(89%);}
.color48{filter: invert(89%) sepia(9%) saturate(1435%) hue-rotate(149deg) brightness(105%) contrast(98%);}
.color49{filter: invert(0%) sepia(3%) saturate(3539%) hue-rotate(359deg) brightness(93%) contrast(86%);}
.color50{filter: invert(8%) sepia(84%) saturate(12%) hue-rotate(314deg) brightness(90%) contrast(82%);}
.color51{filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(151deg) brightness(95%) contrast(84%);}
.color52{filter: invert(76%) sepia(0%) saturate(27%) hue-rotate(208deg) brightness(92%) contrast(89%);}
.color53{filter: invert(78%) sepia(75%) saturate(0%) hue-rotate(164deg) brightness(100%) contrast(90%);}
.color54{filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(225deg) brightness(105%) contrast(101%);}