.smallImg {
    height: 50px;
}

.tray {
    width: 200px;
    position:static;
    top: 0x;
    bottom: 500px;
    left: 0px;
    border: 1px solid rgb(255, 0, 0);
}

.traySelector{
    width: 200px;
    position:absolute;
    left: 0px;
    border: 1px solid rgb(81, 0, 255);
}

.clothesTrayImg {
    width: 50px;
    border: 1px solid black;
}

.clothesTrayImgColor {
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
}

.star{
    position: absolute;
    top: 10px;
    left: 250px;
    flex-wrap: wrap;
}
.input{
    position:absolute;
    top: 631px;
    left: 201px; /*760*/
    flex-wrap: wrap;
    /*border: 1px solid black;*/
}
.body{
    height: 500px; /*630*/
    position:absolute;
    top: 0px;
    left: 201px; 
    flex-wrap: wrap;
    border: 1px solid black;
}