.smallImg {
    height: 50px;
}

.clothesTrayImg {
    height: 35px;
    width: initial;
    /*border: 1px solid black;*/
}

.clothesTrayImgColor {
    height: 25px;
    /*border: 1px solid rgb(0, 0, 0);
    
    */
}

.input{
    position:absolute;
    top:95.5%;
    /*975px*/
    left: 10px;
}

.reset{
    position:absolute;
    top:95.5%;
    /*975px*/
    left: 220px;
}

.body{  
    position:absolute;
    height: 88%; /*630*/
    left: 213px; 
    top:0%;
    bottom: 22%;
    overflow-y: auto;
    flex-wrap: wrap;
}

.tray {
    position:absolute;
    word-wrap: break-word;
    overflow-y: auto;
    width: 210px;
    height: 78.2%;
    top: 0%;
    bottom: 80%;
    left: 0; 
    border: 2px solid black;
}

.traySelector{
    position:absolute;
    width: 210px;
    height: 80px;
    top:78.2%;
    left: 0;
    bottom: 21.8%;
    border: 2px solid black;
}

